* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item {
    width: 200px;
    height: 200px;
}
.item-1 {
    background-color: brown;
    position: absolute;
    left: 21%;
    top: 14%;
}
.item-2 {
    background-color: blue;
    position: absolute;
    left: 29%;
    top: 31%;
}
.item-3 {
    background-color: rgb(19, 104, 45);
    position: absolute;
    left: 25%;
    top: 22%;
}
.item-3:hover {
    transform: scale(1.20) rotate(45deg);
    background-color: rgb(19, 104, 45);
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: center;
    transition: 1s;


}